<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Arm_URDF_2025">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Arm_URDF_2025 urdf file -->
    <xacro:include filename="$(find simulation)/urdfs/Arm_URDF_2025.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="Arm_URDF_2025.ros2_control.xacro" />


    <xacro:Arm_URDF_2025_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
